#container-text {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}
 
#textBox {
  order: 2;
}

#btnBox {
  order: 3;

}
 
label {
  display: block;
  
}
label#convText {
  order: 1;
  letter-spacing: 1px;
  justify-content: center;
  font-size: 30px;
  color: #808080;
}
  