/*
App Text Converter
By iMarcaos (github)
Project Started: 2020-08-22
Update: 2023-04-12
Version: v4-0323
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(93, 48, 255), rgb(121, 84, 255));
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* Main */
.content {
  display: flex;
  justify-content: space-around;
  
  width: 100vw;
  height: 100vh;
}
.conversor-box {
  display: flex;
  flex-flow: column wrap;
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 10px 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}
.content-convtext  {
  text-align: center;
}

.title-box {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}
.conversor-box textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;

  margin-bottom: 20px;
  padding: 7px;
  font-size: 16px;
  border: none;
}

#btnBox {
  background-color: rgba(76, 0, 255, 0.7);
  color: white;
  margin: 7px 2px;
  padding: 7px 7px;
  border-radius: 5px;

  cursor: pointer;
  transition-duration: 0.4s;
}

#btnBox:hover {
  background-color: #dcc9fa;
  color: rgb(5, 5, 5);
}

.version {
  color: rgb(143, 143, 143);
  text-align: right;
  font-size: 0.8em;
}

/* Reponsive Section*/

/* Mobile */
@media screen and (max-width: 768px) {
    
  /* Main */
  .content {
    padding: 90px 0;
    height: 100%;
  }
}